* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 100%;
font-weight: normal;
} 

body {
  padding: 20px;
  font-family: 'Noto Sans KR', sans-serif !important;
  font-size: 20px;
  word-break: keep-all;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  overflow: hidden;
  color: rgb(255, 255, 255);
  background-color: rgb(123, 0, 255);
}



.header-title {
  position: relative;
text-align: center;
}

.logo {
  width: 10em;
  height: 5em;
  perspective: 1000px;
}

.text-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12em;
  color: rgb(30, 255, 0);
  backface-visibility: hidden;
  background-color: rgb(123, 0, 255);
}

#text1 {
transform: rotateY(0deg);
}

#text2 {
  transform: rotateY(180deg);
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  } 

  100% {
    transform: rotateY(360deg);
  }
}

.logo {
  animation: rotate 3s infinite linear;
  transform-style: preserve-3d;
}



.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}


.footer a {
  color: red;
}

.footer a:hover {
  text-decoration: none;
  color: yellow;

}


@media (orientation: landscape) {
  .header-title .believe {
    font-size: 50svh;
  }
}

@media (orientation: portrait) {
  .header-title .believe {
    font-size: 50svw;
  }
}


.content {
  margin-bottom: 60px;
}

#back-button {
        position: absolute;
        top: 40px;
        left: 40px;
        padding: 5px 10px;
        text-decoration: none;
        color:yellow;
        font-size: 16px;
        border-radius: 50%;
        background-color: red;
        }
      
      #back-button:hover {
        
        color: black;
      }

#ms-page {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: yellow;
  text-align: center;
  padding: 20px;
}

#ms-page h1 {
  font-size: 4rem;
  font-weight: 600;
  color: red;
  margin-top: 2vh;
  margin-bottom: 2rem;
}

#ms-page p {
  font-size: 1.25rem;
  color: red;
  word-break: keep-all;
  margin-bottom: 3rem;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap:2rem;
  justify-items: center;
  margin-top: 2rem auto;
  width: 100%;
  max-width: 1200px;
  height: auto;
}

.button {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  max-width: 300px;
  height: 300px;
}

.button:nth-child(1) { background-image: url('leg.png'); }
.button:nth-child(2) { background-image: url('hand.png'); }
.button:nth-child(3) { background-image: url('piano.png'); }
.button:nth-child(4) { background-image: url('pig.png'); }
.button:nth-child(5) { background-image: url('redpen.png'); }
.button:nth-child(6) { background-image: url('shoes.png'); }
.button:nth-child(7) { background-image: url('spider.png'); }
.button:nth-child(8) { background-image: url('door.png'); }
.button:nth-child(9) { background-image: url('mouse.png'); }

@media (min-width: 1200px) {
  .button-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin:0 auto;
  }

  .button {
    max-width: 300px;
    height:  300px;
  }
}

/* 반응형 조절 */


.button {
  max-width: 25vw;
  max-height: 25vh;
  }


@media (max-width: 600px) {
  .button {
    max-width:  40vw;
    max-height: 40vh;
  }
}


#leg-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: skyblue;
  text-align: center;
  padding: 20px;
}

#leg-page h1 {
  font-size: calc(2rem + 2vw); /* 화면 크기에 비례하여 크기 조정 */
  font-weight: 600;
  color: red;
  margin: calc(1rem + 1vh) 0;  /* 화면 크기에 비례하여 여백 조정 */
}

/* 본문 스타일 */
#leg-page p {
 font-size: 16px; /* 화면 크기에 비례하여 크기 조정 */
  color: red;
  word-break: keep-all;
  margin-bottom: calc(3rem + 2vh); /* 화면 크기에 비례하여 여백 조정 */
}

/* 다리 이미지 스타일 */
#leg-image {
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 70vh;
  padding-top: 5vh;
}

#leg-container {
  margin-bottom: 4vh; !important
  width: auto;
}

/* 푸터 스타일 */
#leg-page footer {
  color: red;
  padding-top: 1px;
}

/* 푸터 링크 스타일 */
#leg-page footer a:hover {
  color: yellow;
}



/* 다리 이미지 애니메이션 */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(0); }
  75% { transform: translateX(5px); }
}

.shake {
  animation: shake 0.3s infinite;
}

/* 복 텍스트 애니메이션 */
@keyframes fall {
  0% { transform: translateY(-100vh); }
  100% { transform: translateY(100vh); }
}

/* 복 텍스트 기본 스타일 */
.fortune {
  position: absolute;
  font-size: calc(4rem + 2vw); /* 화면 크기에 비례하여 크기 조정 */
  color: red;
  opacity: 1;
  pointer-events: none;
  white-space: nowrap;
  animation: fall 4s linear infinite;
}


#hand-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: yellowgreen;
  text-align: center;
  padding: 20px;
}

#image-container {
    display: flex;
    justify-content: space-between; /* 이미지들 사이에 일정한 간격 유지 */
    gap: 20px; /* 이미지 간의 간격 조정 */
    max-width: 100%; /* 컨테이너의 최대 너비를 화면 너비에 맞추기 */
    padding: 20px; /* 컨테이너 안에 여백 추가 */
    box-sizing: border-box; /* 패딩과 보더를 너비에 포함 */
    margin-bottom: calc(1rem + 2vh)

}

#image-container img {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(20% - 20px); /* 각 이미지가 컨테이너의 20% 너비를 차지하도록 설정 */
    max-width: calc(20% - 20px);
    min-height: 200px;
    min-width: 90px;
    margin-bottom: 4vh;
    margin-top: 8vh;
    height: auto; /* 이미지 비율을 유지하면서 크기 조정 */
    object-fit: contain; /* 이미지가 잘리지 않도록 조정 */
}

#hand-page h1 {
font-size: calc(2rem + 2vw); /* 화면 크기에 비례하여 크기 조정 */
  font-weight: 600;
  color: red;
  margin: calc(1rem + 1vh) 0;  /* 화면 크기에 비례하여 여백 조정 */
}

#hand-page p {
  font-size: 16px; /* 화면 크기에 비례하여 크기 조정 */
  color: red;
  word-break: keep-all;
  margin-bottom: calc(3rem + 2vh); /* 화면 크기에 비례하여 여백 조정 */
}

#hand-page footer {
  margin-top: 100px;
  text-align: center;
}

#hand-page footer a {
   color: red; 
  text-decoration: none;
}

#hand-page footer a:hover {
  color: yellow;
  text-decoration: none;

}

.click-image {
    width: 200px;
    height: 400px;
    cursor: pointer;
}

/* 텍스트 박스 스타일 */
.lifespan-text {
    position: absolute;
    background-color: red;
    color: white;
    padding: 5px 8px;
    border-radius: 2px;
    font-size: 16px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}
#piano-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: pink;
  text-align: center;
  padding: 20px;
}


#piano-page h1 {
  font-size: calc(2rem + 2vw); 
  font-weight: 600;
  color: red;
  margin: calc(1rem + 1vh) 0;  
}

#piano-page p {
  font-size: 16px;
  color: red;
  word-break: keep-all;
  margin-bottom: calc(3rem + 2vh);
}
#piano-page footer {
  margin-top: 6vh;
}

#piano-page footer a {
   color: red; /* 링크 색상: 흰색 */
  text-decoration: none; /* 밑줄 제거 */
}

#piano-page footer a:hover {
  color: yellow;
  text-decoration: none;

}

#video-container {
  position: relative;
  height: auto;
  overflow: hidden;
  max-width:  100%;
  max-height: 30%;

  
}

#pig-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: lightblue;
  text-align: center;
  padding: 10px;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

#pig-image {
    max-width: 600px;
    height-width: 40%;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding-bottom: 4vh;
}

#pig-image:hover {
    transform: scale(1.05);
}

#lottery-numbers {
    font-size: calc(1.5rem + 1vw);
    color: red;
    margin: 20px 0;
}

#pig-page h1 {
  font-size: calc(2rem + 2vw); 
  font-weight: 600;
  color: red;
  margin-top: 0;
  margin: calc(1rem + 1vh) 0;  
}

#pig-page p {
  font-size: 16px;
  color: red;
  word-break: keep-all;
  margin-bottom: calc(3rem + 2vh);
}
#pig-page footer {
  margin-top: 1vh;
}

#pig-page footer a {
   color: red; /* 링크 색상: 흰색 */
  text-decoration: none; /* 밑줄 제거 */
}

#pig-page footer a:hover {
  color: yellow;
  text-decoration: none;

}

#redpen-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: lightgrey;
  text-align: center;
  padding: 10px;
}


#redpen-page h1 {
  font-size: calc(2rem + 2vw); 
  font-weight: 600;
  color: red;
  margin: calc(1rem + 1vh) 0;  
}

#redpen-page p {
  font-size: 16px; 
  color: red;
  word-break: keep-all;
  margin-bottom: calc(3rem + 2vh);
}

#redpen-page details {
  margin-bottom: 2vh;
}

#redpen-page footer {
  margin-top: 4vh;
}

#redpen-page footer a {
   color: red; /* 링크 색상: 흰색 */
  text-decoration: none; /* 밑줄 제거 */
}

#redpen-page footer a:hover {
  color: yellow;
  text-decoration: none;

}

#canvas-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#name-canvas {
    border: 2px  #000;
    background-color: #fff;

}

#view-list {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 5px;
}

#view-list:hover {
    background-color: darkred;
}


#shoe-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-style: normal;
  background: green;
  text-align: center;
  padding: 10px;
}


#shoe-page h1 {
  font-size: calc(2rem + 2vw); 
  font-weight: 600;
  color: red;
  margin: calc(1rem + 1vh) 0;  
}

#shoe-page p {
  font-size: 16px;
  color: red;
  word-break: keep-all;
  margin-bottom: calc(3rem + 2vh);
}

#shoe-page h2 {
  font-size: 16px; 
  color: black;
  word-break: keep-all;
  margin-bottom: 16px;
}

#shoe-page footer {
  margin-top: 16vh;
  margin-bottom: 4vh;
}

#shoe-page footer a {
   color: red; /* 링크 색상: 흰색 */
  text-decoration: none; /* 밑줄 제거 */
}

#shoe-page footer a:hover {
  color: yellow;
  text-decoration: none;

}

#shoe-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.shoe {
    width: 100px;
    cursor: grab;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

#gift-box {
    width: 300px;
    height: 150px;
    border: 2px dashed red;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greed;
}

#gift-box p {
    color: red;
}

#spider-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("home.png");
  background-size: 85%;
  text-align: center;
  padding: 10px;
}


#spider-page h1 {
  font-size: calc(2rem + 2vw); 
  font-weight: 600;
  color: red;
  margin: calc(1rem + 1vh) 0;  
}

#spider-page p {
  font-size: 16px;
  color: red;
  word-break: keep-all;
  margin-bottom: calc(3rem + 2vh);
}

#spider-page h2 {
  font-size: 16px; 
  color: black;
  word-break: keep-all;
  margin-bottom: 16px;
}

#spider-page footer {
  margin-top: 66vh;
  margin-bottom: 4vh;
}

#spider-page footer a {
   color: red; /* 링크 색상: 흰색 */
  text-decoration: none; /* 밑줄 제거 */
}

#spider-page footer a:hover {
  color: yellow;
  text-decoration: none;

}

#spider-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#spider {
    position: absolute;
    width: 100px; /* 원하는 크기로 조정 */
    height: auto;
    cursor: pointer;
    transition: left 0.3s ease, top 0.3s ease; /* 부드러운 움직임을 위해 */
}



#door-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  background-size: 85%;
  text-align: center;
 
}


#door-page h1 {
  font-size: calc(2rem + 2vw); 
  font-weight: 600;
  color: red;
  margin: calc(1rem + 1vh) 0;  
}

#door-page p {
  font-size: 16px;
  color: red;
  word-break: keep-all;
  margin-bottom: calc(3rem + 2vh);
}

#door-page h2 {
  font-size: 16px; 
  color: black;
  word-break: keep-all;
  margin-bottom: 16px;
}

#door-page footer {
  margin-top: 25vh;
  margin-bottom: 4vh;
}

#door-page a {
   color: white; /* 링크 색상: 흰색 */
  text-decoration: none; /* 밑줄 제거 */
}

#door-page footer a:hover {
  color: yellow;
  text-decoration: none;

}

#scroll-container {
    position: relative;
    width: 100%;
    height: 1500px; /* 컨텐츠가 스크롤되도록 충분히 큰 높이 설정 */
}

#door-frame {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: 100px; /* 문지방 이미지의 초기 위치 */
}

#foot {
    position: fixed;
    top: 0px; /* 발 이미지를 화면 하단에 고정 */
    left: 50%;
    transform: translateX(-50%); /* 화면 가운데로 정렬 */
    width: 400px; /* 발 이미지의 크기 설정 */
}

.red-background {
    background-color: red !important; /* 배경 색상을 빨간색으로 변경 */
}



#mouse-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  background-size: 85%;
  text-align: center;
 
}


#mouse-page h1 {
  font-size: calc(2rem + 2vw); 
  font-weight: 600;
  color: red;
  margin: calc(1rem + 1vh) 0;  
}

#mouse-page p {
  font-size: 16px;
  color: red;
  word-break: keep-all;
  margin-bottom: calc(3rem + 2vh);
}

#mouse-page h2 {
  font-size: 16px; 
  color: black;
  word-break: keep-all;
  margin-bottom: 16px;
}

#mouse-page footer {
  margin-top: 10vh;
  margin-bottom: 4vh;
}

#mouse-page a {
   color: red; /* 링크 색상: 흰색 */
  text-decoration: none; /* 밑줄 제거 */
}

#mouse-page footer a:hover {
  color: yellow;
  text-decoration: none;

}

#mouse-container {
    position: relative;
    display: inline-block;
    margin: 20px;
}

#mouse-image {
    width: 400px; /* 쥐 이미지 크기 설정 */
    height: auto;
}

#camera-container {
    position: absolute;
    top: 30%; /* 중앙에 위치하도록 설정 */
    left: 54%;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0; /* 초기 상태에서 카메라를 숨김 */
    transition: opacity 5s ease-in-out; /* 서서히 나타나게 설정 */
}

#camera {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비디오가 컨테이너를 가득 채우도록 설정 */
    
}

#input-field {
    width: 50%; /* 입력창의 너비를 100%로 설정하여 컨테이너의 전체 너비를 차지하도록 설정 */
    padding: 10px; /* 입력창의 패딩 설정 */
    font-size: 16px; /* 입력글자 크기 설정 */
    box-sizing: border-box; /* 패딩을 너비에 포함시킴 */
}

#input-field::placeholder {
    font-size: 16px; /* 설명글의 폰트 사이즈를 줄임 */
}












